.topo-cursos {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  align-items: center;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background: orange;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #e5e5e5;
}

.btn-editar {
  background: #0d3b82;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-excluir {
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}